<html>

<head>
 <title>Моя домашняя страница</title>
</head>

<body text="black"BGCOLOR="darkgreen"LINK="blue"ALINK="violet">

<center><h1>Приветствую на моей домашней странице!</h1></center>

<center><h2>Надеюсь, Вам не будет скучно...</h2></center>

Позвольте представиться: меня зовут

<b><i>Михиаил.</b></i>

<br>
Я люблю
<b>Фантастику, компьютеры и музыку в стиле Black Metal.</b>

<br>
Терпеть не могу

<b>РЭП и хомячков.</b>

<p><center>Для тех, кто еще не знает, как я выгляжу, - моя фотография:</p></center>

<p><center><img src="1.jpg" width="1024" height="720" ></p></center>

<hr>

<center>Можете попробовать поискать информацию обо мне на
<a href="http://www.yahoo.com">Яндексе</a></center></p>

<center>и напишите мне письмо на
<a href="mailto:lelvuez@gmail.com">lelvuez@gmail.com</a>, что у Вас вышло</center>

</body>


</html>
